.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth {
    max-width: 140px;
}
@media (max-width: 1200px) {
    .headerLogo {
        display: flex;
        width: 140px;
    }
    .headerLogo img {
        height: 100%;
    }
}
@media (max-width: 1000px) {
    .headerLogo {
        width: 120px;
    }
}
@media (max-width: 756px) {
    .headerLogo {
        width: 90px;
    }
}
