.linkView{
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
padding-bottom: 1px;
color: #000000;
border-bottom: 1px dashed #2BB739;
display: block;
}
.linkConatiner{
  display: flex;
}
.textView{
  border-color: transparent;
  margin-right: 4px;
}