.about {
    padding-right:5%;
    width: 40%;
}

.about > div {
    padding: 0;
}

.aboutTitle {
    margin-bottom: 26px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
}

.aboutText {
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
    text-align: left;
    color: #2B2B2B;
    z-index: 36;
    /* padding-top: 85px; */
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 860px) {
    .about {
        width: 100%;
    }

    .aboutText {
        font-size: 28px;
        line-height: 30px;
        padding-bottom: 120px;
    }
}

@media (max-width: 860px) {
    .aboutText {
        padding-bottom: 0;
    }
}

@media (max-width: 767px) {
    .about {
        overflow: hidden;
    }
}

@media (max-width: 510px) {
    .aboutText {
        font-size: 26px;
        line-height: 29px;
    }
}

@media (max-width: 470px) {
    .aboutTitle {
        margin-bottom: 20px;
    }
}

@media (max-width: 370px) {
    .aboutText {
        line-height: 27px;
    }
}