.review__button {
    display: none;
    font-family: "Ubuntu";
    font-weight: 500;
    padding: 8px 15px;
    /* border: 4px dashed #2B2B2B; */
    color: #fff;
    background-color: #2bb739;
    border-radius: 40px;
    font-size: 24px;
    line-height: 28px;
}

.review__button:hover {
    color: #2bb739;
    background-color: #fff;
    border-color: #2bb739;
}

@media (max-width: 1024px) {
    .review {
        width: 45%;
        margin-right: 0px;
    }

    .comentText {
        padding-right: 10px;
        padding-left: 10px;
    }

    .reviews-list {
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .review {
        width: 48%;
        padding: 15px;
    }

    .talks::before,
    .talks::after {
        width: 80vw;
    }
}

@media (max-width: 576px) {
    .review {
        width: 75%;
        margin: 0 auto;
    }

    .talks {
        margin-top: 0;
        margin-bottom: 5%;
    }

    .reviews-wrapper {
        padding: 0;
    }

    .review:not(:last-child) {
        margin-bottom: 15px !important;
    }

    .review:not(:nth-child(3n)) {
        margin-right: auto;
    }

    /* .reviews-block {
        padding-bottom: 60px;
    } */

    .talks::before,
    .talks::after {
        display: none;
    }
}

@media (max-width: 410px) {
    .review {
        width: 90%;
    }

    /* .reviews-block {
        padding-bottom: 40px;
    } */
}
