.loginInput {
    width: 100%;
    background: #ffffff;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 1px dashed #2bb739;
    padding: 8px 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2B2B2B;
}
.loginInput::placeholder{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2B2B2B;
}
.loginFormItem {
    margin-top: 9px;
}
.formCheckbox{
    width: 14px;
    height: 14px;
    border: 1px dashed #2BB739;
    border-radius: 2px;
}
.formCheckboxLabel{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-left: 9px;
}
.formLink{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #838383;
    border-bottom: 1px dashed #2BB739;
}
.formBtn{
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(335.22deg, rgba(0, 0, 0, 0.2) 15.83%, rgba(255, 255, 255, 0.162) 79.46%), #2BB739;
    border-radius: 40px;
    padding: 10px 35px;
}
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
[type='checkbox']:focus,
[type='radio']:focus
textarea:focus,
select:focus {
    outline: none !important;
    box-shadow: none;
    border-color: #2bb739;
}