.reviews-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
}

.freelancers-title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #2BB739;
    padding-bottom: 5%;
    margin-top: 20px;
}

.reviews-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review {
    width: 30%;
    display: flex;
    flex-direction: row;
    padding: 16px;
    box-shadow: 0px 0px 30px 0px rgba(210, 253, 191, 0.158);
    margin-bottom: 30px;
    background: linear-gradient(180deg, #F0F0F0 41.52%, #FFFFFF 100%);
    border-radius: 20px;
    height: 139px;
    color: #2B2B2B;
    position: relative;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 31px;
}

.review::after {
    content: '';
    position: absolute;
    background-color: #2BB739;
    height: 88px;
    width: 44px;
    bottom: 40%;
    left: 11%;
    transform: translate(-50%, 5px);
}

/* .reviews-block {
    padding-bottom: 100px;
} */

.review:not(:nth-child(3n)) {
    margin-right: 10px;
}

.user {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    z-index: 555;
    flex-shrink: 0;
    margin-right: 10px;
}

.user::after {
    content: '';
    position: absolute;
    background-color: #2BB739;
    height: 103px;
    width: 103px;
    bottom: 16%;
    left: 11%;
    transform: translate(-50%, 5px);
    border-radius: 50%;
}

.user-img {
    max-width: 103px;
    max-height: 103px;
    margin: 0 auto;
}

.user__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    visibility: hidden;
}

.user__name {
    text-align: left;
    /* padding-top: 8px; */
    /* text-transform: uppercase; */
    /* font-weight: bold;
    font-size: 24px;
    line-height: 31px; */
}

.coment {
    display: flex;
    flex-direction: column;
}

.coment-text {
    padding-right: 15px;
    text-align: left;
    max-height: 97px;
    /* font-weight: 300;
    font-size: 20px;
    line-height: 24px; */
    overflow-y: auto;
    margin-bottom: 8px;
    scrollbar-width: thin;
    scrollbar-color: rgb(43, 183, 57) transparent;
}

.card-text::-webkit-scrollbar, .coment-text::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
}

.card-text::-webkit-scrollbar-track, .coment-text::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
}

.card-text::-webkit-scrollbar-thumb, .coment-text::-webkit-scrollbar-thumb {
    background-color: rgb(43, 183, 57); /* color of the scroll thumb */
    border-radius: 25px; /* roundness of the scroll thumb */
}

.review__button {
    display: none;
    font-family: 'Ubuntu';
    font-weight: 500;
    padding: 8px 15px;
    /* border: 4px dashed #2B2B2B; */
    color: #fff;
    background-color: #2BB739;
    border-radius: 40px;
    font-size: 24px;
    line-height: 28px;
}

.review__button:hover {
    color: #2BB739;
    background-color: #fff;
    border-color: #2BB739;
}

@media (max-width: 1024px) {
    .review {
        width: 45%;
        margin-right: 0px;
    }

    .coment-text {
        padding-right: 10px;
        padding-left: 10px;
    }

    .reviews-list {
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .review {
        width: 48%;
        padding: 15px;
    }

    .talks::before, .talks::after {
        width: 80vw;
    }
}

@media (max-width: 576px) {
    .review {
        width: 75%;
        margin: 0 auto;
    }

    .freelancers-title {
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 0;
    }

    .reviews-wrapper {
        padding: 0;
    }

    .review:not(:last-child) {
        margin-bottom: 15px !important;
    }

    .review:not(:nth-child(3n)) {
        margin-right: auto;
    }

    /* .reviews-block {
        padding-bottom: 60px;
    } */

    .talks::before, .talks::after {
        display: none;
    }
}

@media (max-width: 410px) {
    .review {
        width: 90%;
    }

    /* .reviews-block {
        padding-bottom: 40px;
    } */
}
