.loginContainer {
    min-height: 80vh;
}

.auth-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 6px 17px;
}

.hero {
    background-image: url('/images/background.svg');
    background-repeat: no-repeat;
    background-size:66% auto;
    background-position: 105% 4%;
    z-index: -9999;
}

.hero-title {
    position: relative;
    width: 38%;
    line-height: 44px;
    left: 6%;
    top: 4vw;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color:#2B2B2B
}

.link {
    width: 100%
}


.hero-cont {
    position: relative;
    max-width: 173px;
    margin: 15% auto 0px;
    z-index: 1;
}

.hero-cont img{
    margin-left: auto;
    margin-right: auto;
}
.hero-budjet {
    position: absolute;
    max-width: 221px;
    left: 8.5vw;
    top: 19vw;
}

/* .hero-cont::before {
    content: url('/images/Vector-o.svg');
    position: absolute;
    height: 200px;
    width: 195px;
    z-index: -5;
    top: -84%;
    left: 22%;
}

.hero-cont::after {
    content: '';
    position: absolute;
    background-color: #2BB739;
    border: 4px dashed #2BB739;
    border-bottom: none !important;
    height: 74px;
    width: 44px;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 5px);
    z-index: 5555;
} */
@media (max-width: 1600px) {
    .hero-title {
        font-size: 36px;
        line-height: 40px;
        top: 4vw;
    }
}
@media (max-width: 1440px) {

    .hero-title {
        font-size: 35px;
        line-height: 38px;
    }

    .hero-budjet {
        left: 8vw;
    }
}

@media (max-width: 1273px) {
    .hero-title {
        font-size: 33px;
        line-height: 36px;
        left: 5%;
    }

    .hero-cont {
        margin: 11% auto 0px;
    }

    .link {
        width: 90%
    }
}

@media (max-width: 1198px) {
    .hero-title {
        font-size: 28px;
        line-height: 30px;
    }
    .hero-cont {
        margin: 11% auto 0px;
    }

    .link {
        width: 85%
    }
    .hero-budjet {
        left: 7.5vw;
    }
}

@media (max-width: 1024px) {
    .hero-title {
        font-size: 24px;
        line-height: 28px;
        left: 4%;
    }

    .link {
        width: 80%
    }
    .hero-budjet {
        left: 6.5vw;
    }
}

@media (max-width: 860px) {
    .hero-title {
        font-size: 21px;
        line-height: 26px;
        top: 3vw;
    }

    /* .hero-cont {
        margin: 6% auto 0px;
    } */

    .link {
        width: 75%
    }

    
}

@media (max-width: 767px) {
    .hero-title {
        font-size: 18px;
        line-height: 22px;
        left: 1%;
        width: 40%;
    }

    .hero-budjet {
        left: 7.5vw;
    }

    .hero-cont {
        margin: 13% auto 0px;
    }

    .link {
        width: 65%
    }
}

@media (max-width: 660px) {  
    .hero-title {
        font-size: 17px;
        line-height: 22px;
        left: 0%;
        width: 43%;
    }

    .link {
        width: 60%
    }

}


@media (max-width: 576px) {
    .hero {
        background-image: none;
        z-index: -9999;
    }

    .hero-title {
        font-size: 28px;
        line-height: 34px;
        margin:8% auto;
        width: 90%;
        text-align:center;
    }

    .hero-cont {
        margin: 0% auto 0px;
    }

    .hero-budjet {
        max-width: 221px;
        top: 60vw;
        left: 30vw;
        }    

}

@media (max-width: 470px) {


    .hero-cont {
        width: 100%;
    }

    .hero-budjet {
        top: 65vw;
        left: 30vw;
        }    

}

@media (max-width: 340px) {
    .hero-budjet {
        top: 70vw;
        left: 30vw;
        }   

}
