.wrp {
    display: grid;
    grid-template-rows: 90px 1fr 110px;
    height: 100vh;
}

.section {
    margin: 0;
}

.container {
    padding: 25px 120px 0;
    display: block;
}

.content {
    margin: 0;
    display: flex;
}

.contentContainer {
    justify-content: center;
}
