.freelancerOrder {
    padding: 30px;
    height: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 100px;
    align-items: start;
}

.activeTasks {
    margin: 0 0 25px 0;
    display: grid;
    gap: 25px 55px;
}

.freelancerOrderWrapper {
    padding: 0 20px 0 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridStyle {
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1024px) {
    .freelancerOrder {
        grid-template-columns: 7fr 5fr;
        gap: 50px;
    }
    .gridStyle {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 768px) {
    .freelancerOrder {
        display: flex;
        flex-direction: column-reverse;
    }
}
