.section {
    position: relative;
}
.section::after {
    display: block;
    content: "";
    position: absolute;
    height: 64px;
    width: 8%;
    z-index: -1;
    top: 0px;
    right: 0;
    border-radius: 10px 0 0 10px;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        #2b2b2b;
}

.cardsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.card::after {
    display: none;
}

@media (max-width: 1024px) {
    .cardsList {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .cardsList {
        grid-template-columns: 1fr;
    }
}
