.headerContainer {
    position: relative;
    padding: 25px 0 0;
}

.bgrImg {
    position: relative;
    align-items: stretch;
}
.headerContainer::before,
.bgrImg::after {
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
}
.headerContainer::before {
    width: 62%;
    min-width: 964px;
    height: 64px;
    top: 294px;
    right: 0;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        #2b2b2b;
    border-radius: 10px 0 0 10px;
}
.bgrImg::after {
    width: 696px;
    height: 403px;
    top: 0;
    left: 34%;
    background-image: url("/images/bgrMainHeaderContainer.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
}

.blockContainer {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.sectionActive {
    position: relative;
}
.sectionActive::after,
.sectionActive::before {
    display: block;
    content: "";
    position: absolute;
    height: 64px;
    width: 7%;
    z-index: -1;
}
.sectionActive::before {
    top: 207px;
    left: 0;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        #2b2b2b;
}
.sectionActive::after {
    top: 417px;
    right: 0;
    border-radius: 10px 0 0 10px;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        #2bb739;
}

.gridStyle {
    grid-template-columns: 1fr 1fr 1fr;
}

.sectionFreelancers {
    position: relative;
}
.sectionFreelancers::after {
    display: block;
    content: "";
    position: absolute;
    height: 64px;
    width: 8%;
    z-index: -1;
    top: 0px;
    right: 0;
    border-radius: 10px 0 0 10px;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        #2b2b2b;
}

.sectionTalks {
    position: relative;
}
.sectionTalks::after,
.sectionTalks::before {
    display: block;
    content: "";
    position: absolute;
    height: 64px;
    width: 67%;
    z-index: -1;
}
.sectionTalks::before {
    top: 0px;
    left: 0;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        #2bb739;
}
.sectionTalks::after {
    top: 20px;
    right: 0;
    border-radius: 10px 0 0 10px;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        #2b2b2b;
}

.sectionProject {
    padding: 0 40px;
    position: relative;
}
.sectionProject::after,
.sectionProject::before {
    display: block;
    content: "";
    position: absolute;
    height: 64px;
    width: 8%;
    z-index: -1;
}
.sectionProject::before {
    top: 100px;
    left: 0;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        #2bb739;
}

@media (max-width: 1440px) {
    .headerContainer::before {
        min-width: 0;
        width: 65%;
    }

    .bgrImg::after {
        width: 600px;
        left: 42%;
    }
}

@media (max-width: 1200px) {
    .headerContainer::before {
        width: 60%;
        height: 55px;
        top: 280px;
    }

    .bgrImg::after {
        width: 550px;
        top: -19px;
    }
}

@media (max-width: 1024px) {
    .headerContainer::before {
        width: 57%;
        height: 46px;
        top: 240px;
    }

    .bgrImg::after {
        width: 450px;
        top: -35px;
    }

    .gridStyle {
        grid-template-columns: 1fr 1fr;
    }

    .blockContainer {
        flex-direction: column;
        padding: 0 60px 5px 60px;
    }
}

@media (max-width: 800px) {
    .bgrImg::after {
        width: 350px;
        left: 45%;
    }

    .headerContainer::before {
        top: 235px;
    }
}

@media (max-width: 756px) {
    .bgrImg::after {
        width: 40%;
        height: 170px;
        top: 70px;
        left: 54%;
    }

    .headerContainer::before {
        display: none;
    }
}

@media (max-width: 576px) {
    .bgrImg::after {
        display: none;
    }

    .gridStyle {
        grid-template-columns: 1fr;
    }

    .sectionActive::after,
    .sectionActive::before {
        display: none;
    }

    .sectionProject::before,
    .sectionProject::after {
        display: none;
    }

    .sectionFreelancers::after {
        display: none;
    }

    .sectionTalks::after,
    .sectionTalks::before {
        display: none;
    }

    .blockContainer {
        padding: 0 0px 5px 0px;
    }
}
