.btnMenu {
    padding: 14px 36px;
    background-image: url("/images/borderButton.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2bb739;
    width: 140px;
    text-align: center;
}

.menu {
    position: absolute;
    padding: 10px 25px;
    background: #ffffff;
    box-shadow: inset 3px 3px 14px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.item {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    cursor: pointer;
}
.item + .item {
    margin: 7px 0 0 0;
}
.auth {
    padding: 14px 36px;
    background-image: url("/images/borderButton.png");
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2bb739;
    width: 140px;
    text-align: center;
    cursor: pointer;
}
.auth:hover {
    background-color: #fff;
}
.menuWrapper {
    grid-column: 4/5;
}
