.loginInput {
    width: 100%;
    background: #ffffff;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 1px dashed #2bb739;
    padding: 8px 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2b2b2b;
    z-index: 5;
}
.loginInput::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2b2b2b;
}

.formPage {
    position: relative;
    background: transparent;
    box-shadow: 0 -2px 5px -5px rgba(0, 0, 0, 0.25),
        -7px 2px 9px -5px rgba(0, 0, 0, 0.25),
        -2px 0px 7px -5px rgba(0, 0, 0, 0.25),
        0px -5px 1px -5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 44px 37px 30px 21px;
    width: 100%;
}
.formPage::after {
    position: absolute;
    display: block;
    content: "";
    width: 403px;
    height: 102%;
    top: -2px;
    right: -256px;
    background-image: url("/images/bg-ellipse.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.formText {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2b2b2b;
    z-index: 5;
    width: 80%;
    margin-bottom: 16px;
}

@media (max-width: 576px) {
    .formPage {
        box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
    }
    .formPage::after {
        display: none;
    }

    .formText {
        width: 100%;
    }
}
