[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
[type='checkbox']:focus,
[type='radio']:focus
textarea:focus,
select:focus {
    outline: none !important;
    box-shadow: none;
    border-color: #2bb739;
}

.loginInput {
    width: 100%;
    background: #ffffff;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 1px dashed #2bb739;
    padding: 8px 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2B2B2B;
    z-index: 5;
}
.loginInput::placeholder{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2B2B2B;
}

.formPage{
    position: relative;
    background: #FFFFFF;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 44px 37px 30px 21px;
    width: 100%;
}
.formPage::after{
    position: absolute;
    display: block;
    content: '';
    width: 403px;
    height: 102%;
    top: -2px;
    right: -256px;
    background-image: url('/images/bg-ellipse.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.formText{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2B2B2B;
    z-index: 5;
    width: 80%;
    margin-bottom: 16px;
}